* {
    box-sizing: border-box;
    font-family: sans-serif;
}

table#board {
    border-spacing: 0;
    border: 5px solid #afafaf;
    display: inline-block;
}

table#board td {
    background-color: #f5f5f5;
    width: 64px;
    height: 64px;
    position: relative;
    border: 0px solid #FF4141;
}

table#board td:nth-child(2n) {
    background-color: #ededed;
}

table#board tr:nth-child(2n) td:nth-child(2n) {
    background-color: #f5f5f5;
}

table#board tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: #ededed;
}

table#board td div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

table#board td.red div {
    background-color: #FF4141;
}

table#board td.blue div {
    background-color: #4054FF;
}

table#board td.none div {
    background-color: transparent;
}

table#board td.selected {
    border-width: 4px;
}

div.scoreboard {
    text-align: center;
    font-size: 25pt;
    padding: 20px;
}

div.container {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    display: flex;
}

div.container > div {
    padding: 20px;
}

div.left {
    width: 650px;
}

span#red-wins {
    color: #FF4141;
}

span#blue-wins {
    color: #4054FF;
}

label {
    padding: 10px;
    font-weight: bold;
}

h3 {
    margin-top: 5px;
    text-align: left;
    color: grey;
}

table.options td {
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 10px;
}

table.options td:first-child {
    text-align: right;
}

table.options input[type=number] {
    width: 50px;
}
